body {
    background-color: lightgreen;
}

#cont{
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.imag{
    border: 12px solid black;
}
img{
    height: 450px;
}
button{
    border: 2px solid black;
    padding: 13px;
    font-size: 22px;
    margin: 23px;
    border-radius: 41px;
    cursor: pointer;
}


/* media queries */

@media (max-width: 807px ) {
    body{
        background-color: lightgreen;
    }
    img{
        height: 257px;
    }
    h1{
        font-size: 21px;
    }
    #btn{
        display: flex;
        flex-direction: column;
    }
    button{
        margin: 4px;
        padding: 9px;
        font-size: 16px;
    }
 
}

@media (max-width: 456px ) {
    body{
        background-color: lightgreen;
    }
    img{
        height: 186px;
    }
    h1{
        font-size: 12px;
    }
}
.filterItems{
    width: 20%;
    margin-bottom: 8px;
}